Flask==0.12
Flask-Compress==1.5.
gunicorn==20.0.4
image==1.5.3
Jinja2==2.9.5
Keras==2.4.3
Keras-Preprocessing==1.1.2
Markdown==3.2.2
numpy==1.18.5
opencv-python==4.3.0.36
tensorflow==2.3.0
Werkzeug==0.11.15
MarkupSafe==1.0
itsdangerous==0.24
scipy==1.4.1
tensorboard==2.3.0
pandas==1.0.5