<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ the_title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script
  src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
</head>

<body onload="initCanvas();">

<div id="container">

  <!-- Jinja2 directives: page contents will go between them -->
  {% block body %}
  {% endblock %}

</div>
     <script type="text/javascript"
         src="{{ url_for('static', filename='js/canvas.js') }}"></script>
</body>
</html>
